.contact-page-container{
    height:900px;
    width: 100%;
    
    .form-container{
        display: flex;
        flex-direction: row;
        width:100vw;
        
        form{
            width:30%;
            height: 700px;
            padding-top: 20px;
            margin-left: 20px;
            label{
                font-family: Georgia, 'Times New Roman', Times, serif;
                font-weight: bold;
                font-size: large;
            }
            input{
                width:70%;
                margin-bottom: 20px;
                margin-top:5px;
                border-radius: 10px;
                height: 25px;
            }
            .text-box{
                width: 90%;
                height: 300px;
                border-radius: 10px;
                text-align: left;
                }
            button{
                height: 50px;
                width: 100px;
                background-color: rgb(18, 84, 18);
                color: white;
                border-radius: 5px;
                font-family: Georgia, 'Times New Roman', Times, serif;
                font-size: large;
                font-weight: bold;
                margin-top: 20px;
                &:hover{
                    cursor: pointer;
                }
                }
            .sent-notification{
                margin-top: 10px;
                color: green;
                }
        }
        .contact-us-text-wrapper{
            border:black 10px solid;
            background-color: rgb(232, 232, 232);
            display:flex;
            flex-direction: column;
            width:65%;
            
            height: 720px;
            h2{
                display: flex;
                justify-content: center;
                font-size: 4rem;
                font-family: 'Times New Roman', Times, serif;
                font-weight: bolder;
            }
            blockquote{
                width:70%;
                height:300px;
                font-size: 2rem;
                margin-top:-40px;
                margin-left: 170px;
            }
            h3{
                font-size: xx-large;
                margin-left: 100px;
            }
        }
    }
}
    
