.footer{
    display: flex;
    flex-direction: column;
    height: 25vh;
   align-items: center;
    text-align: center;
    background-color: #15374f;
    button{
        padding-top: 50px;
        background-color: transparent;
        border: transparent;
        height: 30px;
        font-size: x-large;
        font-weight: bolder;
        color: white;
        &:hover{
            cursor: pointer;
        }
    }
}