.main-page-content{
   
    display: flex;
    flex-direction: column ;
  
    .clothing-ad-container{
        
        display: flex;
        height:600px;
        
        .image-left{
            display: flex;
            width: 100%;
            justify-content: flex-start;
            align-items: center;
            background-image: url("../images/astrolove.jpg");
            background-position: left ;
            background-size: cover;
            background-repeat: no-repeat;
        }

        .advertisement{
            
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: left;
            width: 50%;
            .ad-button-wrapper{
          
                display: flex;
                flex-direction: column;
                justify-content: center;
                width:75%;
                height: 300px;
                .buttons{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-decoration: none;
                    height: 30%;
                    margin-top: 10px;
                    background-color: #38393b;
                    border-radius: 20px;
                    color: white;
                    font-size: xx-large;
                    margin-left: 200px;
                    font-weight: 900;
                    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                        &:hover{
                            cursor: pointer;
                            background-color: white;
                            color:#38393b ;
                            border: black solid 1px;

                        }
                }
                
            }
        }
        
    }
}